@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,824;1,824&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-clr: black;
  --nav-clr: rgb(186, 95, 219);
}

html {
  height: 760vh;
}

body {
  background-color: var(--bg-clr);
  /* background-color: rgb(237, 222, 192); */
  scroll-behavior: smooth;
  transition: 0.5s background-color linear;
}

/* S1 styling sheet all styles of s1.js */
#s1 {
  display: block;
  height: 270vh;
  border-bottom: 2px solid red;
}

#s1 > div {
  width: 100%;
  height: 100dvh;
  gap: 3rem;
  color: whitesmoke;
  position: relative;
  overflow: hidden;
  font-family: "poppins";
  perspective: 500px;
  transform-style: preserve-3d;
  position: sticky;
  top: 0;
}
.sone {
  font-size: 0;
  padding: 6.5rem;
  color: rgb(158, 72, 239);
  filter: blur(10px);
  text-align: center;
  transition: 3s ease-in-out;
}
.sone:hover {
  color: black;
}
.window {
  position: absolute;
  width: 30rem;
  overflow: hidden;
  background-color: #191919;
  border-radius: 7px;
  box-shadow: 40px 0 80px rgba(180, 2, 245, 0.246),
    -50px 60px 80px rgba(0, 21, 255, 0.198);
  font-family: "Segoe UI";
}
.window,
.window div {
  background-size: cover;
}
#fileItem {
  font-size: 6.7px;
  width: 90%;
  margin: 0px 0px 0px 10px;
  padding: 3.5px 0px 3.5px 5px;
  border: 1px solid transparent;
}
.hover-file-item,
#fileItem:hover {
  border: 1px solid rgba(255, 255, 255, 0.308);
  background-color: rgba(221, 221, 221, 0.279);
  cursor: pointer;
}

.fileEx {
  top: 20%;
  left: 15%;
  box-shadow: 20px 0 70px rgba(238, 166, 12, 0.278),
    -40px 60px 70px rgba(246, 255, 0, 0.126);
  transition: 2s ease-in-out;
}
.fileEXanim {
  transform: rotateY(40deg) translateX(-700px);
  filter: blur(0.5px);
  box-shadow: none;
}
.vsCode {
  right: 18%;
  bottom: 20%;
  transition: 2s ease-out;
}
.vsCodeanim {
  transform: rotateY(-40deg) translateX(700px);
  filter: blur(0.5px);
  box-shadow: none;
}
.chrome {
  box-shadow: 0px 0 200px rgba(254, 254, 254, 0.597);
  transition: 1s ease-in-out;
}
.chromeAnim {
  transform: rotateX(40deg) translateY(600px);
  box-shadow: 0 0 200px rgb(132, 0, 255);
}
.szeroh {
  font-size: 2rem;
  filter: none;
  transition: 1s ease-in-out;
}
.cursor {
  position: absolute;
  z-index: 99999;
  width: 13px;
  aspect-ratio: calc(165 / 260);
  background-image: url("./assets/cursor.png");
  background-size: cover;

  transition: 1s ease-in-out;
}

@keyframes Popup {
  0% {
    scale: 0.3;
  }
  100% {
    scale: 1;
  }
}

/* S0 styling of blob */
.blob {
  width: 28rem;
  aspect-ratio: 1;
  top: 20%;
  left: 30%;
  position: fixed;
  background: linear-gradient(to right, #c9ad1e, rgb(149, 101, 176));
  border-radius: 100%;
  filter: blur(120px);
  translate: -50% -50%;
  animation: blobify 15s ease-in infinite;
  z-index: -5;
}

.ku {
  color: rgb(237, 222, 192);
}

@keyframes blobify {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.2;
  }
  to {
    rotate: 360deg;
  }
}

/* s2 style sheet be careful while the styles are here this is opening of experience list */
#s2 {
  width: 100%;
  height: 100dvh;
  border-bottom: 2px solid red;
  position: relative;
  overflow: hidden;
}
.mango1 {
  height: 80vh;
  aspect-ratio: 1;
  background-image: url("./assets/sCOMPARE/mango.png");
  background-size: cover;
}
.mangoINFO {
  position: absolute;
  font-size: 20px;
  width: 16rem;
  aspect-ratio: 1.6;
  box-shadow: -40px 0 100px rgb(82, 4, 4);
  border-radius: 5px;
  backdrop-filter: blur(40px);
  font-family: "consolas";
  display: flex;
  overflow: hidden;
}
.mangoINFO span {
  padding-top: 5px;
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.162);
  text-align: right;
  color: rgba(255, 255, 255, 0.345);
  padding-right: 6px;
}
.mangoINFO div {
  padding-top: 5px;
  padding-left: 8px;
  width: 87%;
  height: 100%;
}
.mangoINFO li {
  list-style-type: none;
}
.s2text {
  border: 2px solid green;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.468);
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: 130px;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  font-family: "playfair display";
}

/* snav styling */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3.5rem;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: var(--nav-clr);
}
.nav span {
  width: 20px;
  height: 2px;
  background-color: white;
}
